
.idea/workspace.xml
.DS_Store
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/vcs.xml
out/production/Calculator/com/company/Function.class
out/production/Calculator/com/company/Main.class
