
.default-color1.chart-series-line,
.default-color2.chart-series-line,
.default-color3.chart-series-line{
    -fx-stroke: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: red;
}

.default-color1.chart-line-symbol {
    -fx-background-color: green, green;
}

.default-color2.chart-line-symbol {
    -fx-background-color: #257780, #257780;
}

.default-color3.chart-line-symbol {
    -fx-background-color: #806921, white;
}

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: red;
}